#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

*.pyc
us/mon_test
us/us_cmd
us/us_d
sys-manager
nas/tr-simple
common/log-daemon
monitor/sys-mon
pmu_ctl/test/pmu_test
sys-conf/pic-version
test-utils/tools-test-led
pic_ctl/utils/disk_reset
Watchdog/watchdog
uart_fix/uart_fix
led/cmd/led-ctl
led/cmd/disk_reset
led/cmd/sysled
led/daemon/led-ctl-daemon
led/daemon/sas_sysled
watchdog/watchdog
buzzer/cmd/buzzer-ctl
buzzer/daemon/buzzer-ctl-daemon
diskpower/diskpower-ctl

