<?xml version="1.0" encoding="UTF-8"?>
<alarm>
	<category name="email" switch="enable">
		<receiver value="test1@gmail.com"/>
		<receiver value="test2@gmail.com"/>
		<smtp host="xxxx" port="xxxx"/>
		<ssl switch="enable"/>
		<auth switch="enable" user="xxx" password="xxx"/>
	</category>
	<module name="power" switch="enable" buzzer="enable" sys_led="enable" email="enable"/>
</alarm>
